.navbar {
    position: fixed;
    top: 0;
}
.nav, .container, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #effff8;
    color: #fff;
}